<app-dados-solicitante data-template-block-instance="dados-solicitante-analise-rh"></app-dados-solicitante>

<app-beneficio-atual data-template-block-instance="beneficio-atual-analise-rh"></app-beneficio-atual>

<app-dados-solicitacao data-template-block-instance="dados-solicitacao-analise-rh"></app-dados-solicitacao>

<!-- TEMPLATE:OPTIONAL block="observacao-rh" instance="observacao-rh-analise-rh" -->
<app-observacao
  data-template-block-instance="observacao-rh-analise-rh"
  [mostrarCard]="true"
  [label]="'Observação do RH'"
  [title]="'Análise do RH'"
></app-observacao>
<!-- /TEMPLATE:OPTIONAL -->
